@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap&text=0123456789%");

* {
	padding: 0;
	margin: 0;
}

body {
	display: block !important;
}

body,
html {
	overflow: hidden;
	background: #333333;
	font-family: "Poppins", sans-serif;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}

#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 4rem;
	letter-spacing: 4px;
	z-index: 99999;
	background: rgb(255, 208, 175);
	background: linear-gradient(42deg, rgba(255, 208, 175, 1) 0%, rgba(129, 178, 228, 1) 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: url("preview.webp"); */
	text-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}

#info {
	font-family: monospace;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
	position: absolute;
	left: 50%;
	top: 24px;
	transform: translateX(-50%);
	color: white;
	pointer-events: none;
	user-select: none;
	text-align: center;
}

a {
	color: #1da1f2;
	pointer-events: all;
	text-decoration: none;
}

#traaModelBtn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 1px;
	bottom: 24px;
	right: 24px;
	color: white;
	background: rgb(34, 124, 195);
	background: linear-gradient(38deg, rgba(34, 124, 195, 1) 0%, rgba(51, 112, 255, 1) 100%);
	font-size: 1.5rem;
	pointer-events: all;
	border: none;
	border-radius: 4px;
	padding: 16px 32px;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	font-size: 16px;
}

#aaMethod {
	display: inline-block;
	color: #ffda48;
	text-decoration: bold;
	padding: 8px;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	margin-top: 4px;
}
